<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="second">
    <div>
      <img src="../../assets/images/kore-logo.png" alt="logo" class="korelogo">
    </div>
    <div>
      <img src="../../assets/images/kore-content-1.png" alt="image" class="imgcontent">
    </div>
    <div>
      <h2 class="simply">Simply</h2><br>
      <h2 class="simply">IoT</h2>
      <hr class="linebreak">
      <div>
        <p>
          KORE simplifies complexity across <br>
          the IoT ecosystem, enabling our <br>
          customers IoT vision and delivering <br>
          masurable value.
        </p>
      </div>
      <button (click)="btnclick()" class="btn">Click Here</button>
    </div>
  </div>
</body>
</html>
